body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 2em;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f00; /* couleur du cta */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: static;
    bottom: 0;
    width: 100%;
}

/* filter bar */
.filter-bar {
    display: flex;
    align-items: center; 
    background-color: #f2f2f2;
    padding: 10px;
    justify-content: center;
}

.filter {
    margin: 1vh; /* Espacement entre les filtres */
    cursor: pointer;
}

/* Styles pour les icônes des filtres */
.filter-icon {
    max-width: 8vh; /* Largeur maximale des icônes */
    max-height: 8vh; /* Hauteur maximale des icônes */
}

/* Styles pour  filtres non cochés */
.filter {
    cursor: pointer; /* pointeur pour indiquer que c'est cliquable */
}


.productImg {
    width: 50vh; 
    height: 40vh; 
    object-fit: cover; /* pour conserver les proportions de l'image */
    cursor: pointer;
}

.product {
    width: 60vh; 
    margin: 0 10px 20px 0; /*marge entre les produits */
    box-sizing: border-box; /* Inclut la bordure et le rembourrage dans la largeur et la hauteur */
}

.favorite-icon{
    width: 5vh; 
    height: 5vh; 
  margin: 0%;
  cursor: pointer; /* pointeur pour indiquer que c'est cliquable */
  vertical-align: middle; /* Ajoutez cette propriété pour aligner verticalement */
}

/* Quelle filtre sur quelle produit */
.filter-indicator {
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    display: inline-block; /* Pour occuper seulement l'espace nécessaire */
    cursor: pointer;
}
