body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 2em;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.cta-button {
    display: inline-block;
    padding: 10px 40px;
    background-color: #f00; /* couleur du cta */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.personnaliser-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 98, 98); /* couleur du cta */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.icon-filter {
    width: 20px; /* Ajustez la largeur selon vos besoins */
    height: 20px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: static;
    bottom: 0;
    width: 100%;
}

.favorite-icon{
    width: 5vh; 
    height: 5vh; 
  margin: 0%;
  cursor: pointer; /* pointeur pour indiquer que c'est cliquable */
  vertical-align: middle; /* Ajoutez cette propriété pour aligner verticalement */
}

/* Quelle filtre sur quelle produit */
.filter-indicator {
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    display: inline-block; /* Pour occuper seulement l'espace nécessaire */
    cursor: pointer;
}

.avis {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 140vh; 
    margin: 0 10px 20px 0; /*marge entre les produits */
    box-sizing: border-box; /* Inclut la bordure et le rembourrage dans la largeur et la hauteur */
}
.avis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productImg-container {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.productImg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cette propriété maintiendra les proportions tout en couvrant le conteneur */
    cursor: pointer;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 140vh; 
    margin: 0 10px 20px 0; /*marge entre les produits */
    box-sizing: border-box; /* Inclut la bordure et le rembourrage dans la largeur et la hauteur */
}


.chevron {
    position: absolute;
    top: 50%;
    font-size: 5em; /* Ajustez la taille des chevrons selon vos besoins */
    cursor: pointer;
    color: white; /* Ajoutez la couleur blanche pour les chevrons */
    padding: 10px; /* Ajoutez un rembourrage aux chevrons */
}

.chevron.left {
    left: 0;
}

.chevron.right {
    right: 0;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none; /* Le popup est initialement caché */
    /* Ajoutez les styles existants du popup */
}



.popup.show-popup {
    display: block; /* Affiche le popup lorsque la classe 'show-popup' est présente */
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.close {
    font-size: 2rem;
    cursor: pointer;
}

.popup-active {
    overflow: hidden; /* Empêche le défilement du corps principal */
}

.popup-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur foncée semi-transparente */
    z-index: 999; /* Assurez-vous que l'ombrage est au-dessus du reste du contenu */
}