body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #bdbdbd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo-container img {
    height: 6vh; /* Ajustez la taille du logo selon vos besoins */
    width: 15vh;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-bar button img {
    width: 20px; /* Ajustez la taille des icônes selon vos besoins */
    height: 20px;
}

.voice-search-button {
    margin-left: 10px;
}


.icon-container img {
    height: 30px; /* Ajustez la taille des icônes selon vos besoins */
    margin-left: 10px;
}

/* Ajoutez d'autres styles selon vos besoins */

/* Ajoutez ces styles à votre fichier CSS existant */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    margin-bottom: 20px;
    
}

.footer-section h3 {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

.icon-container img {
    cursor: pointer;
}